body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #eee;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
section {
    margin: 1rem 2rem;
    padding: 0,4rem 1rem;
}
main {
    display: grid;
    grid-template-columns: 1fr 200px;
}

h2 {
    color: navy;
    text-align: flex-start;
    grid-column: 1 / -1;
}

article p {
    text-align: justify;
}

.callout {
    grid-column: 1 / -1;
    padding: 1rem;
    color: #000000;
    background-color: #c0c0c0;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}