p, li{
    font-family: "Quicksand", sans-serif;
}
h1,
h2 {
    font-family: "Google Sans Code", monospace;
}
body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 40% 1fr;
    background-color: black;
    color: rgb(212, 173, 0); 
    align-items: center;}

header img {
    place-self: end;
    width: 200px;
    height: auto;
}
h2{
    color: rgb(121, 26, 62);
}
footer{
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: rgb(212, 173, 0);
    text-align: center;
}
figure{
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    font-size: xx-large;
}
.wireframe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.wireframe h2{
    grid-column: 1 / -1;
}
main{
    max-width: 1050px;
    margin: 0 auto;
}
ul{
    place-items: start;

}

.info{
    text-align: start;
}

@media screen and (max-width: 1050px) {
    header img {
            place-self: end;
            width: 130px;
            height: auto;
        }
    h1{
        font-size: large;
    }
.wireframe {
        display: grid;
        grid-template-columns: 1fr;
    }
.wireframe img{
        width: 80%;
        height:670px;
} 
body{
    text-align: center;
}  
.info{
    text-align: center;
}
li{
    place-self: center;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}}