body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #0f33ffc4;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

.main {
    background-color: #808380;
    color: rgb(0, 0, 0);
    flex: 1 1 100px;
    border: 1px solid #000000;
    margin: 20px;
}

.right {
    width: 20%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 300px;

}

.navbar {
    position: relative;
    display: flex;
    background-color: #4d4d4d;
    justify-content: space-around;
    bottom: -10px;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.footernav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.course-title {
    font-size: 2em;
    font-weight: bold;
    color: orange;
}
.author-name {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
