body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #0f33ffc4;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    width: 100%;
}

.main {

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    flex: 1 1 100px;
    border: 1px solid #000000;
    margin: 20px;
}

.right {
    width: 20%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #000000;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;


}

.navbar {
    position: relative;
    display: flex;
    background-color: #4d4d4d;
    justify-content: space-around;
    bottom: -10px;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.footernav {
    display: flex;
    justify-content: center;
}
.course-title {
    font-size: 2em;
    font-weight: bold;
    color: orange;
}
.author-name {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.subtitle {
    display: grid;
    grid-column: 1 / -1;
    font-size: 1.78em;
    padding: 8px;
    position: relative;
    top: -23px;
    color: white;
    background: rgb(48, 48, 165);
    text-align: center;
    margin: 20px 0;
}
main img {
    border-radius: 10px;
    margin: 20px;
    float: right;
}
.left{
    position: relative;
    top: -50px;
    display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
}
.city{
    text-align: center;
}